WS/IntegracionRosado/Web References/WS_PO_CENTROS/SI_Centro_OUT_SYNC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:elrosado.com:nuo:kioskoTienda:centro" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_Centro_OUT_SYNC" targetNamespace="urn:elrosado.com:nuo:kioskoTienda:centro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Centro_OUT_SYNC" />
  <wsdl:types>
    <xsd:schema xmlns="urn:elrosado.com:nuo:kioskoTienda:centro" targetNamespace="urn:elrosado.com:nuo:kioskoTienda:centro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Centro_Request" type="p1:DT_Centro_Request" />
      <xsd:element name="MT_Centro_Response" type="p1:DT_Centro_Response" />
      <xsd:complexType name="DT_Centro_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ac05db96058011e68d72000000141f5e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CODERROR" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">66456993058111e6c6271c3e84780cd8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESERROR" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">66456994058111e6a3271c3e84780cd8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">66456997058111e6a0e11c3e84780cd8</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="WERKS" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">66456995058111e695a51c3e84780cd8</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="NAME" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">66456996058111e6a0b31c3e84780cd8</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Centro_Request">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">d3c0d389057f11e6cbe4000000141f5e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Centro_Request">
    <wsdl:documentation />
    <wsdl:part name="MT_Centro_Request" element="p1:MT_Centro_Request" />
  </wsdl:message>
  <wsdl:message name="MT_Centro_Response">
    <wsdl:documentation />
    <wsdl:part name="MT_Centro_Response" element="p1:MT_Centro_Response" />
  </wsdl:message>
  <wsdl:portType name="SI_Centro_OUT_SYNC">
    <wsdl:documentation />
    <wsdl:operation name="SI_Centro_OUT_SYNC">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Centro_OUT_SYNC" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Centro_Request" />
      <wsdl:output message="p1:MT_Centro_Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Centro_OUT_SYNCBinding" type="p1:SI_Centro_OUT_SYNC">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Centro_OUT_SYNC">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Centro_OUT_SYNCService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Centro_OUT_SYNCBinding">
      <address location="http://vhcerpipci.hec.elrosado.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_KIOSKO_TIENDA_PIP&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Centro_OUT_SYNC&amp;interfaceNamespace=urn%3Aelrosado.com%3Anuo%3AkioskoTienda%3Acentro" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Centro_OUT_SYNCBinding">
      <address location="https://vhcerpipci.hec.elrosado.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_KIOSKO_TIENDA_PIP&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Centro_OUT_SYNC&amp;interfaceNamespace=urn%3Aelrosado.com%3Anuo%3AkioskoTienda%3Acentro" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>